# ─── Core ────────────────────────────────────────────────────────────────────
NODE_ENV=development
PORT=3001

# ─── Database ────────────────────────────────────────────────────────────────
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.mevbsiynpikrfficgrop.supabase.co:5432/postgres
REDIS_URL= redis://default:gQAAAAAAAiW5AAIgcDIyYTk2NWVkZDlhNTk0ZTkyODM2NTIzMzFjOGMwZTE4OQ@definite-catfish-140729.upstash.io:6379
MONGODB_URI=mongodb+srv://alphaview:<db_password>@cluster0.cwuqjr5.mongodb.net/?appName=Cluster0
RABBITMQ_URL=amqp://localhost:5672

# ─── Auth ─────────────────────────────────────────────────────────────────────
JWT_SECRET=REPLACE_WITH_64_CHAR_RANDOM_STRING
JWT_REFRESH_SECRET=REPLACE_WITH_DIFFERENT_64_CHAR_RANDOM_STRING
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d

# ─── AWS ─────────────────────────────────────────────────────────────────────
AWS_REGION=af-south-1
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=...
S3_RAW_BUCKET=alphaview-raw-uploads
S3_HLS_BUCKET=alphaview-hls-content
CLOUDFRONT_DOMAIN=cdn.alphaview.tv
CLOUDFRONT_KEY_PAIR_ID=APKA...
CLOUDFRONT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"

# ─── Payments (Paystack) ─────────────────────────────────────────────────────
PAYSTACK_SECRET_KEY=sk_live_...
PAYSTACK_PUBLIC_KEY=pk_live_...
PLATFORM_COMMISSION_PERCENT=20

# ─── DRM (BuyDRM KeyOS) ──────────────────────────────────────────────────────
BUYDRM_API_KEY=base64_encoded_key
BUYDRM_LICENSE_URL=https://wv-keyos.licensekeyserver.com/
FAIRPLAY_CERT_URL=https://fps.buydrmkeyos.com/cert/...

# ─── SMS — Termii ─────────────────────────────────────────────────────────────
TERMII_API_KEY=TLxxxxxxxx
TERMII_SENDER_ID=AlphaView

# ─── Email — SendGrid ─────────────────────────────────────────────────────────
SENDGRID_API_KEY=SG.xxx
EMAIL_FROM=hello@alphaview.tv
EMAIL_FROM_NAME=AlphaView TV

# ─── Search ───────────────────────────────────────────────────────────────────
ELASTICSEARCH_URL=https://localhost:9200

# ─── GeoIP ────────────────────────────────────────────────────────────────────
MAXMIND_LICENSE_KEY=your_maxmind_license_key

# ─── Frontend (Next.js) ───────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:3001/v1
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_live_...
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_CDN_URL=https://cdn.alphaview.tv

# ─── Firebase (Push Notifications) ───────────────────────────────────────────
FIREBASE_PROJECT_ID=alphaview-tv
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@alphaview-tv.iam.gserviceaccount.com
NEXT_PUBLIC_FIREBASE_API_KEY=AIza...
NEXT_PUBLIC_FIREBASE_APP_ID=1:...

# ─── Monitoring ───────────────────────────────────────────────────────────────
SENTRY_DSN=https://...@sentry.io/...
